<div id="banner_home">
    <img src="../assets/img/hardware.jpg" alt="">
</div>
<div class="imagem_destaque">
    <h1 class="divisor">Compre agora!</h1>
    <a href="https://www.paypal.com/br/home">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
        <img src="/assets/img/g1.png" alt="">
    </a>
</div>
<div class="imagem_galeria">
    <h1 class="divisor">Galeria</h1>
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
    <img src="/assets/img/game.jpg" alt="">
</div>