
<div class="formulario">
    <form  #f="ngForm">
        <div>
            <label for="nome">Nome: </label>
            <input class="inputs" id="nome" name="nome" ngModel type="text">
        </div>
        <hr>
        <div>
            <label for="email">E-mail: </label>
            <input class="inputs" id="email" name="email" ngModel type="email">
        </div>
        <hr>
        <div>
            <label for="senha">Senha: </label>
            <input class="inputs" id="senha" name="senha" type="password">
        </div>
        <hr>
        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
    <img class="logo2" src="./assets/img/logo.png" alt="">
</div>